html,body{
  margin:0 auto;
  font-family:Arial;
}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:rgb(128, 91, 187);
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:rgb(118, 145, 196);
}
#banner{
  background-color:rgb(155, 117, 155);
  color:white;
}
#footer{
  background-color:rgb(155, 117, 155);
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
}

.highlight{
  font-style:italic;
  color:rgb(125, 125, 228);
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:rgb(129, 34, 141);
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:rgb(57, 136, 189);
}
#output{
  flex-wrap:wrap;
}
.fit{
  width:150px;
  height:150px;
  object-fit:contain;
}

#leftPanel{
  flex:1;
}
#rightPanel{
  flex:2;
}
.fitted{
  max-width:200px;
  min-width:200px;
}
#result{
  background-color: rgb(238, 171, 144);
  color:rgb(165, 7, 7);
  max-width: 200px;
  font-size: 20px;
}